<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="foot">
    <!-- jQuery -->
    <script th:src="@{/static/vendors/jquery/dist/jquery.min.js}"></script>
    <!-- Bootstrap -->
    <script th:src="@{/static/vendors/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
    <!--<script th:src="@{/static/vendors/DateJS/build/date.js}"></script>-->
    <!--<script th:src="@{/static/build/js/custom.min.js}"></script>-->
    <script th:src="@{/static/js/indexDemo.js}"></script>
    <script th:src="@{/static/layui/layui.all.js}"></script>
</div>
</html>