<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header(title,links,styles)">
    <meta charset="UTF-8">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:replace="${title}">htmlHead</title>
    <link rel="icon" th:href="@{/static/images/favicon.ico}" type="image/ico" />
    <link th:href="@{/static/vendors/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/static/vendors/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/static/build/css/custom.min.css}" rel="stylesheet">
    <link th:href="@{/static/layui/css/layui.css}" rel="stylesheet">
</head>
<body>

</body>
</html>