<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>learn Resources</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--<link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" >-->
</head>
<body>
<!--<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>-->
<!--<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<!--<script>window.location.href='MrHill/';</script>-->
<div style="text-align: center;margin:0 auto;width: 1000px; ">
    <h1>学习资源大奉送，爱我就关注嘟嘟公众号：嘟爷java超神学堂（javaLearn）</h1>
    <table width="100%" border="1" cellspacing="1" cellpadding="0">
        <tr>
            <td>作者</td>
            <td>教程名称</td>
            <td>地址</td>
        </tr>
        <!--/*@thymesVar id="learnList" type=""*/-->
        <!--<tr th:each="learn : ${learnList}">-->
            <!--<td th:text="${learn.author}">嘟嘟MD</td>-->
            <!--<td th:text="${learn.title}">SPringBoot干货系列</td>-->
            <!--<td><a th:href="${learn.url}" target="_blank">点我</a></td>-->
        <!--</tr>-->
    </table>
    <!--<button th:type="button" class="btn-default">默认样式</button>-->
    <!--<button th:type="button" class="btn-block">默认样式</button>-->
    <!--<button th:type="button" class="btn-group">默认样式</button>-->


</div>
</body>
</html>